.top-level {
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar {
  background: #363763 !important;
  border-radius: 0px !important;
}

.pages {
  
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block !important;
  width: 100% !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

* {
  font-family: 'Nunito Sans', sans-serif;    
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}