.top-level {
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar {
  background: #363763 !important;
  border-radius: 0px !important;
}

* {
  font-family: 'Nunito Sans', sans-serif;    
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}